* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Montserrat', sans-serif;


}
body {
  margin: 0;
  background-color: hsl(30, 38%, 92%);
  display: grid;
  place-items: center;
  height: 100vh;
}

.card {
  display: flex;
  width: 650px;
  min-height: 405px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 5px 70px 1px rgba(0, 0, 0, 0.2);
}

.image-container {
  width: 300px;
  flex: 1;
  background-image: url("./images/image-product-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px 0px 0px 10px;
}



/* INFORMATION STYLING */
.info {
  padding: 20px 35px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.tag {
  letter-spacing: 3px;
  color: hsl(228, 12%, 48%);
  font-size: 12px;
}
.heading {
  font-size: 35px;
  margin: 20px 0px;
  font-family: 'Fraunces', serif;
}

.para {
  color: hsl(228, 12%, 48%);
  font-size: 15px;
  line-height: 25px;
}

.cost {
  color: hsl(158, 36%, 37%);
  font-size: 30px;
  display: flex;
  align-items: center;
  font-weight: 700;
  margin: 20px 0px;
  font-family: 'Fraunces', serif;
}

.prev-cost {
  font-size: 15px;
  margin-left: 15px;
  text-decoration: line-through;
  font-weight: normal;
  color: hsl(228, 12%, 48%);
}

/* ADD TO CART BUTTON STYLING */
.btn {
  background-color: hsl(158, 36%, 37%);
  text-align: center;
  padding: 13px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.cart-img {
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .card {
    display: grid;
    width: 350px;
    margin: 10px 10px;
  }

  .image-container {
    width: 100%;
    height: 250px;
    border-radius: 10px 10px 0px 0px;
    background-image: url("./images/image-product-mobile.jpg");
    background-position: center;
    background-size: cover;
  }

  .heading {
    font-size: 30px;
    margin: 15px 0px;
  }

  .cost {
    margin: 15px 0px;
  }
}
