* {
  box-sizing: border-box;
  color: #fff;
  margin: 0;
  font-family: "Inter", sans-serif;
}

body {
  display: grid;
  min-height: 100vh;
  place-items: center;
  background-color: hsl(233, 47%, 7%);
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 700px;
  background-color: #1c1938;
  border-radius: 10px;
  margin: 20px;
}

/* SECTION ONE STYLING */
.section-one {
  padding: 40px 50px 40px 45px;
}
.heading {
  font-size: 23px;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 30px;
}
.heading > span {
  color: hsl(277, 64%, 61%);
}

.para {
  font-size: 10px;
  line-height: 17px;
  color: hsla(0, 0%, 100%, 0.6);
  font-family: "Lexend Deca", sans-serif;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.stat > h3 {
  font-size: 15px;
}
.stat > p {
  font-size: 8px;
  margin-top: 4px;
  color: hsla(0, 0%, 100%, 0.6);
  letter-spacing: 1px;
}
/* SECTION TWO STYLING */
.section-two {
  position: relative;
  height: 100%;
  width: 100%;
}

.section-two > img {
  width: 100%;
  height: 100%;
  border-radius: 0px 10px 10px 0px;
  object-fit: contain;
  object-position: center;
}

.section-two::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(81, 8, 126, 0.541);
  z-index: 1;
  border-radius: 0px 10px 10px 0px;

}

@media screen and (max-width: 810px) {
  .card {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 20px 10px;
    border-radius: 10px;
    text-align: center;
  }
.section-one > .heading {
    font-size: 25px;
}

.para {
    font-size: 14px;
    line-height: 24px;
}
  .section-two {
    order: -1;
    border-radius: 10px 10px 0px 0px;
  }

  .section-two > img {
    border-radius: 10px 10px 0px 0px;
  }
  .section-two::before {
    border-radius: 10px 10px 0px 0px;
  
  }

  .stats {
    display: flex;
    flex-direction: column;
  }
.stat {
    margin: 15px 0px;

}
  .stat > h3 {
    font-size: 25px;
  }

  .stat > p {
    font-size: 15px;
    margin-top: 10px;
  }
}
